In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv(r"C:\Users\Administrator\Downloads\Automobile_price_data__Raw_.csv")

In [3]:
raw_data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
# returns tuple of size - (rows, columns)
raw_data.shape

(205, 26)

In [5]:
# returns column names
raw_data.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [6]:
# returns total entries, like details of each columns
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [7]:
# returns True for missing data cell, False indicates no missing value
raw_data.isnull()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
# returns True for non-empty cell and False for missing values
raw_data.notnull()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
201,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
202,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
203,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
204,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

## 2. Data Slicing
##### using loc() and iloc()

In [9]:
# loc[] - label based indexing; using row and column name data is sliced
raw_data.loc[1:10]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [10]:
# column slicing using loc[]
raw_data.loc[:, "make":"wheel-base"]

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5
3,audi,gas,std,four,sedan,fwd,front,99.8
4,audi,gas,std,four,sedan,4wd,front,99.4
...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,109.1
201,volvo,gas,turbo,four,sedan,rwd,front,109.1
202,volvo,gas,std,four,sedan,rwd,front,109.1
203,volvo,diesel,turbo,four,sedan,rwd,front,109.1
204,volvo,gas,turbo,four,sedan,rwd,front,109.1

In [11]:
# all rows and all columns
raw_data.loc[:, :]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [12]:
# we randomly selected some columns
raw_data.loc[[1,3,7,10,11,13], ["make", "fuel-type", "num-of-doors", "wheel-base"]]

           make fuel-type num-of-doors  wheel-base
1   alfa-romero       gas          two        88.6
3          audi       gas         four        99.8
7          audi       gas         four       105.8
10          bmw       gas          two       101.2
11          bmw       gas         four       101.2
13          bmw       gas         four       101.2

In [13]:
# iloc - integer location based indexing
# ie, [1:10] means frmo index 1 to 10-1
raw_data.iloc[1:10]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [14]:
# selecting all rows and all columns using iloc
raw_data.iloc[:, :]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [15]:
# slicing columns by using integer index
raw_data.iloc[:, 2:12]

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4
...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9
201,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8
202,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9
203,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9
204,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9

In [16]:
# summarize
# raw_data.iloc[row_index, column_index]
# raw_data.loc[row_label, column_label]

## 3. Rows and Column Selection

In [17]:
# selecting a single column
raw_data['make']

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: make, Length: 205, dtype: object

In [18]:
# selecting multiple columns, pass column name as a list
raw_data[['make', 'fuel-type', 'body-style', 'drive-wheels']]

            make fuel-type   body-style drive-wheels
0    alfa-romero       gas  convertible          rwd
1    alfa-romero       gas  convertible          rwd
2    alfa-romero       gas    hatchback          rwd
3           audi       gas        sedan          fwd
4           audi       gas        sedan          4wd
..           ...       ...          ...          ...
200        volvo       gas        sedan          rwd
201        volvo       gas        sedan          rwd
202        volvo       gas        sedan          rwd
203        volvo    diesel        sedan          rwd
204        volvo       gas        sedan          rwd

[205 rows x 4 columns]

## 4. Filter

In [19]:
# conditions, returns True|False
raw_data['make'] == 'audi'

0      False
1      False
2      False
3       True
4       True
       ...
200    False
201    False
202    False
203    False
204    False
Name: make, Length: 205, dtype: bool

In [20]:
# slicing by condition
raw_data[raw_data['make'] == 'audi']

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [21]:
# multiple conditions for slicing
# AND - &
# OR - |

raw_data[(raw_data['make'] == 'toyota') & (raw_data['body-style'] == 'sedan')]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
156,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,30,37,6938
158,0,91,toyota,diesel,std,four,sedan,fwd,front,95.7,...,110,idi,3.27,3.35,22.5,56,4500,34,36,7898
160,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,38,47,7738
162,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,28,34,9258
163,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,2bbl,3.19,3.03,9.0,70,4800,29,34,8058
165,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,mpfi,3.24,3.08,9.4,112,6600,26,29,9298
173,-1,65,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,29,34,8948
174,-1,65,toyota,diesel,turbo,four,sedan,fwd,front,102.4,...,110,idi,3.27,3.35,22.5,73,4500,30,33,10698
176,-1,65,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,10898
180,-1,90,toyota,gas,std,four,sedan,rwd,front,104.5,...,171,mpfi,3.27,3.35,9.2,156,5200,20,24,15690

# 5. Sorting

In [22]:
# sorting some numerical data in ascending order, set ascending to False for sorting in descending order
raw_data['wheel-base'].sort_values(ascending=True)

31      86.6
30      86.6
18      88.4
0       88.6
1       88.6
       ...
113    114.2
114    114.2
71     115.6
70     115.6
73     120.9
Name: wheel-base, Length: 205, dtype: float64

In [23]:
# sorting entire DataFramse by parameter, can have multiple parameters in the list also
raw_data.sort_values(by = ["engine-size"])

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
57,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,13645
55,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,10945
56,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,11845
32,1,101,honda,gas,std,two,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.1,60,5500,38,42,5399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,0,?,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176,4750,15,19,35550
47,0,145,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176,4750,15,19,32250
74,1,?,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400
73,0,?,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
49,0,?,jaguar,gas,std,two,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.5,262,5000,13,17,36000

In [24]:
# sorting by multiple parameters
raw_data.sort_values(by = ["fuel-type", "engine-size"])

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
182,2,122,volkswagen,diesel,std,two,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,52,4800,37,46,7775
184,2,94,volkswagen,diesel,std,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,52,4800,37,46,7995
187,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495
192,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
90,1,128,nissan,diesel,std,two,sedan,fwd,front,94.5,...,103,idi,2.99,3.47,21.9,55,4800,45,50,7099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,0,145,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176,4750,15,19,32250
48,0,?,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176,4750,15,19,35550
74,1,?,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400
73,0,?,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
49,0,?,jaguar,gas,std,two,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.5,262,5000,13,17,36000

In [25]:
# each selected column can be sorted in separate order
raw_data.sort_values(by = ["fuel-type", "engine-size"], ascending=[False, True]).head(20)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.50,48,5100,47,53,5151
55,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.40,101,6000,17,23,10945
56,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.40,101,6000,17,23,11845
57,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.40,101,6000,17,23,13645
32,1,101,honda,gas,std,two,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.10,60,5500,38,42,5399
58,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,?,?,9.40,135,6000,16,23,15645
19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6295
20,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6575
21,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572
22,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6377
24,1,148,dodge,gas,std,four,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6229
25,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6692
26,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,7609
44,1,?,isuzu,gas,std,two,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,?
45,0,?,isuzu,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,?
118,1,119,plymouth,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,37,41,5572
120,1,154,plymouth,gas,std,four,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6229
121,1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6692
50,1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.00,68,5000,30,31,5195
51,1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.00,68,5000,31,38,6095

In [26]:
# show all distinct values of selected column
raw_data['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [27]:
# shows frequency of each category
raw_data['make'].value_counts()

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: count, dtype: int64

# 6. Filter and Query

In [28]:
# primarily used to subset selected 
raw_data.filter(like="num")

    num-of-doors num-of-cylinders
0            two             four
1            two             four
2            two              six
3           four             four
4           four             five
..           ...              ...
200         four             four
201         four             four
202         four              six
203         four              six
204         four             four

[205 rows x 2 columns]

In [29]:
# slicing columns by column names
raw_data.filter(items=["make", "num-of-doors", "fuel-type", "horsepower"])

            make num-of-doors fuel-type horsepower
0    alfa-romero          two       gas        111
1    alfa-romero          two       gas        111
2    alfa-romero          two       gas        154
3           audi         four       gas        102
4           audi         four       gas        115
..           ...          ...       ...        ...
200        volvo         four       gas        114
201        volvo         four       gas        160
202        volvo         four       gas        134
203        volvo         four    diesel        106
204        volvo         four       gas        114

[205 rows x 4 columns]

In [30]:
# slicing wors by row label. axis=0 indicates row-wise [axis=1 is column-wise]
raw_data.filter(items=[0, 2, 3, 5, 6, 10], axis=0)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [31]:
# selects all columns whose name starts with the given pattern - we used ^ for 'start with'
# like='' is a bit different as it checks for pattern
raw_data.filter(regex="^e")

    engine-location engine-type  engine-size
0             front        dohc          130
1             front        dohc          130
2             front        ohcv          152
3             front         ohc          109
4             front         ohc          136
..              ...         ...          ...
200           front         ohc          141
201           front         ohc          141
202           front        ohcv          173
203           front         ohc          145
204           front         ohc          141

[205 rows x 3 columns]

In [32]:
# querying kinda like SQL queries
# we enclose engine-size within `` [thing below tild] coz system might mistake it for minus symbol
raw_data.query("make=='toyota' and `engine-size` >= 130")

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
167,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,8449
168,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,9639
169,2,134,toyota,gas,std,two,hatchback,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,9989
170,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,11199
171,2,134,toyota,gas,std,two,hatchback,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,11549
172,2,134,toyota,gas,std,two,convertible,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,17669
178,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.3,161,5200,20,24,16558
179,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.3,161,5200,19,24,15998
180,-1,90,toyota,gas,std,four,sedan,rwd,front,104.5,...,171,mpfi,3.27,3.35,9.2,156,5200,20,24,15690
181,-1,?,toyota,gas,std,four,wagon,rwd,front,104.5,...,161,mpfi,3.27,3.35,9.2,156,5200,19,24,15750

# 7. Handling Missing data

In [33]:
import numpy as np

In [34]:
# we replace ? with nan
# we set inplace as True to modify existing variable itself
# use false if we are planning to store to another variable
raw_data.replace("?", np.nan, inplace=True)

In [35]:
# returns number data missing from each column
raw_data.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [36]:
# percent of records missing
raw_data.isnull().sum() / raw_data.shape[0] * 100

symboling             0.00000
normalized-losses    20.00000
make                  0.00000
fuel-type             0.00000
aspiration            0.00000
num-of-doors          0.97561
body-style            0.00000
drive-wheels          0.00000
engine-location       0.00000
wheel-base            0.00000
length                0.00000
width                 0.00000
height                0.00000
curb-weight           0.00000
engine-type           0.00000
num-of-cylinders      0.00000
engine-size           0.00000
fuel-system           0.00000
bore                  1.95122
stroke                1.95122
compression-ratio     0.00000
horsepower            0.97561
peak-rpm              0.97561
city-mpg              0.00000
highway-mpg           0.00000
price                 1.95122
dtype: float64

In [37]:
# handling missing values
# getting rid of the first 2 columns
# axis=1 for column
raw_data.drop(['symboling', 'normalized-losses'], axis=1, inplace=True)

# below error due to me, already removed columns

In [38]:
raw_data["price"].dtype

dtype('O')

In [39]:
raw_data["price"] = raw_data["price"].astype("float64")

In [40]:
# copying content to another dataframe
vehicle_df = raw_data.copy()

In [41]:
vehicle_df["price"].median()

10295.0

In [42]:
# fills NaN values (which were missing) with the given value(median here)
vehicle_df["price"] = vehicle_df["price"].fillna(vehicle_df["price"].median())

In [43]:
# drop rows with missing values
vehicle_df.dropna(inplace=True)

In [44]:
# we dropped rows with missing values
# dropping is not good, as we lose actual data
vehicle_df.isnull().sum()

make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [45]:
# replace by mean if continuous
# replace by median if continuos or discrete
# replace my mode if categorical

# 8. Drop duplicate values

In [46]:
vehicle_df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Length: 197, dtype: bool

In [47]:
# no rows here mean no duplicate entries - use drop_duplicated() to handle duplicate rows
vehicle_df[vehicle_df.duplicated()]

Empty DataFrame
Columns: [make, fuel-type, aspiration, num-of-doors, body-style, drive-wheels, engine-location, wheel-base, length, width, height, curb-weight, engine-type, num-of-cylinders, engine-size, fuel-system, bore, stroke, compression-ratio, horsepower, peak-rpm, city-mpg, highway-mpg, price]
Index: []

[0 rows x 24 columns]

In [48]:
# adding a duplicate entry into the DataFrame

# select random sample form dataframe using frac, takes values in percentage
# parameter can also be n, denoting no. of samples
sample_df = vehicle_df.sample(frac=0.05)
vehicle_df1 = pd.concat([vehicle_df, sample_df], ignore_index=True)

In [49]:
# these are the records we added as duplicate
vehicle_df1[vehicle_df1.duplicated()]

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
197,volkswagen,gas,std,four,wagon,fwd,front,100.4,183.1,66.9,...,109,mpfi,3.19,3.40,9.0,88,5500,25,31,12290.0
198,nissan,gas,std,two,sedan,fwd,front,94.5,165.3,63.8,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,5499.0
199,nissan,gas,std,two,hatchback,fwd,front,94.5,165.6,63.8,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7799.0
200,chevrolet,gas,std,two,hatchback,fwd,front,94.5,155.9,63.6,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6295.0
201,bmw,gas,std,four,sedan,rwd,front,101.2,176.8,64.8,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925.0
202,honda,gas,std,two,sedan,fwd,front,96.5,169.1,66.0,...,110,2bbl,3.15,3.58,9.1,100,5500,25,31,10345.0
203,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,173.2,66.3,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,14489.0
204,mitsubishi,gas,std,two,hatchback,fwd,front,96.3,173.0,65.4,...,122,2bbl,3.35,3.46,8.5,88,5000,25,32,8499.0
205,toyota,gas,std,four,hatchback,fwd,front,102.4,175.6,66.5,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,11248.0
206,nissan,gas,std,four,wagon,fwd,front,100.4,184.6,66.5,...,181,mpfi,3.43,3.27,9.0,152,5200,17,22,14399.0

In [50]:
# getting rid of all duplicates
vehicle_df1.drop_duplicates(inplace=True)

# 9. Group By
* Generally used for aggregate operations *

In [51]:
# we grouped all makers together, and found mean of each maker's prices
vehicle_df1.groupby('make')['price'].mean()

make
alfa-romero      15498.333333
audi             16778.571429
bmw              26118.750000
chevrolet         6007.000000
dodge             7790.125000
honda             8184.692308
isuzu             9605.750000
jaguar           34600.000000
mazda             9852.000000
mercedes-benz    33647.000000
mercury          16503.000000
mitsubishi        9239.769231
nissan           10415.666667
peugot           15489.090909
plymouth          7963.428571
porsche          27179.400000
saab             15223.333333
subaru            8541.250000
toyota            9885.812500
volkswagen       10077.500000
volvo            18063.181818
Name: price, dtype: float64

In [52]:
vehicle_df1.groupby('make')[['price', 'city-mpg']].mean()

                      price   city-mpg
make
alfa-romero    15498.333333  20.333333
audi           16778.571429  18.857143
bmw            26118.750000  19.375000
chevrolet       6007.000000  41.000000
dodge           7790.125000  28.500000
honda           8184.692308  30.384615
isuzu           9605.750000  31.000000
jaguar         34600.000000  14.333333
mazda           9852.000000  27.833333
mercedes-benz  33647.000000  18.500000
mercury        16503.000000  19.000000
mitsubishi      9239.769231  24.923077
nissan         10415.666667  27.000000
peugot         15489.090909  22.454545
plymouth        7963.428571  28.142857
porsche        27179.400000  17.400000
saab           15223.333333  20.333333
subaru          8541.250000  26.333333
toyota          9885.812500  27.500000
volkswagen     10077.500000  28.583333
volvo          18063.181818  21.181818

In [53]:
vehicle_df1.groupby('make')[['price', 'city-mpg']].max().sort_values(by='price', ascending=False)

                 price  city-mpg
make
mercedes-benz  45400.0        22
bmw            41315.0        23
porsche        37028.0        19
jaguar         36000.0        15
audi           23875.0        24
volvo          22625.0        26
nissan         19699.0        45
saab           18620.0        21
mazda          18344.0        31
peugot         18150.0        28
toyota         17669.0        38
mercury        16503.0        19
alfa-romero    16500.0        21
mitsubishi     14869.0        37
volkswagen     13845.0        37
dodge          12964.0        37
honda          12945.0        49
plymouth       12764.0        37
subaru         11694.0        32
isuzu          11048.0        38
chevrolet       6575.0        47

# 10. apply()
* used to apply() function to modify column values *

In [54]:
vehicle_df1

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
193,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
194,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
195,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
196,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [55]:
# adding a new column from some already present values
vehicle_df1["dimension"] = vehicle_df1.apply(lambda row: row['length']*row['width'], axis=1)
vehicle_df1

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,dimension
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,10820.08
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,10820.08
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,11213.60
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,11690.92
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,11726.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,13008.32
193,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,12989.44
194,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,13008.32
195,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,13008.32
196,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,13008.32

# 11. set and reset index

In [56]:
import pandas as pd
import numpy as np

In [57]:
city = {
    "United States": 75700,
    "Germany": 47000,
    "Japan": 45600
}
gdp_per_capita_series = pd.Series(city)
gdp_per_capita_series

United States    75700
Germany          47000
Japan            45600
dtype: int64

In [58]:
city_gdp = pd.DataFrame(gdp_per_capita_series, columns = ['gdp_per_capita'])
city_gdp

               gdp_per_capita
United States           75700
Germany                 47000
Japan                   45600

In [59]:
city_gdp = city_gdp.reset_index()
city_gdp

           index  gdp_per_capita
0  United States           75700
1        Germany           47000
2          Japan           45600

In [60]:
city_gdp.set_index("index")

               gdp_per_capita
index
United States           75700
Germany                 47000
Japan                   45600

# 12. Pivot Table

In [64]:
vehicle_df1.pivot_table(values="price", index="drive-wheels", columns="body-style", aggfunc="mean")

body-style,convertible,hardtop,hatchback,sedan,wagon
drive-wheels,,,,,
4wd,NaN,NaN,8949.000000,12647.333333,9095.750000
fwd,11595.0,8249.000000,8365.166667,9834.290909,10061.181818
rwd,23949.6,24202.714286,14419.666667,21711.833333,16994.222222

In [68]:
vehicle_df1.pivot_table(values="price", index=["drive-wheels", "engine-location"], columns="body-style", aggfunc="mean")

body-style                    convertible  hardtop     hatchback  \
drive-wheels engine-location
4wd          front                    NaN      NaN   8949.000000
fwd          front                11595.0   8249.0   8365.166667
rwd          front                20680.0  20572.6  14419.666667
             rear                 37028.0  33278.0           NaN

body-style                           sedan         wagon
drive-wheels engine-location
4wd          front            12647.333333   9095.750000
fwd          front             9834.290909  10061.181818
rwd          front            21711.833333  16994.222222
             rear                      NaN           NaN

# 13. Merge

In [69]:
# we are merging two dataframes|series
# inner herge by default
# we merge on a common column

df_series1 = pd.Series({"US": 2000, "UK": 1450, "India":134}, name="gdp_per_capita")
df_series2 = pd.Series({"US": 14000, "UK": 18000, "India":36000}, name="population")

In [77]:
df1 = pd.DataFrame(df_series1).reset_index()
df1.columns = ["country", "gdp_per_capita"]

In [78]:
df2 = pd.DataFrame(df_series2).reset_index()
df2.columns = ["country", "population"]

In [79]:
pd.merge(df1, df2, on="country", how="inner")

  country  gdp_per_capita  population
0      US            2000       14000
1      UK            1450       18000
2   India             134       36000

In [80]:
pd.merge(df1, df2, on="country", how="outer")

  country  gdp_per_capita  population
0   India             134       36000
1      UK            1450       18000
2      US            2000       14000

# 14. CrossTab

In [ ]:
# frequency between two columns
# pd.crosstab()
#pandas method to create contingency table, shows frequency table with frequenct distribution of the ariable|attributes

In [81]:
pd.crosstab(vehicle_df1["body-style"], vehicle_df1["num-of-doors"])

num-of-doors  four  two
body-style
convertible      0    6
hardtop          0    8
hatchback       10   55
sedan           79   15
wagon           24    0